@page
@model WebMaster.Pages.WebSites.WebSitesDeleteModel

@{
    ViewData["Title"] = "WebSite Delete";
}

<h2 style="text-decoration:underline">@ViewData["Title"]</h2>

<div class="row container">
    <form method="post"
          asp-route-userId=@TempData["UserId"]
          asp-route-webSitesMenuId=@TempData["WebSitesMenuId"]
          asp-route-profileId=@TempData["ProfileId"]
          asp-route-profileName=@TempData["ProfileName"]
          asp-route-webSitesMenuDescription=@TempData["WebSitesMenuDescription"]
          asp-route-webSiteId="@Model.WebSitesModel.Id"
          asp-route-returnUrl=@TempData["ReturnUrl"]>

        <div class="col-xs-12 col-sm-8 col-md-5 UserWindow">
            <input type="hidden" asp-for="WebSitesModel.Id" />

            <div class="RowTop">
                <label class="InfoLabel">
                    &nbsp;@TempData["ProfileName"]&nbsp;
                </label>
                <label class="pull-right InfoLabel">
                    &nbsp;@TempData["WebSitesMenuDescription"]&nbsp;
                </label>
            </div>

            <hr />

            <dl class="dl-horizontal RowTop" style="margin-bottom: 0px">
                <dt>
                    @Html.DisplayNameFor(model => model.WebSitesModel.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.WebSitesModel.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.WebSitesModel.WebSiteURL)
                </dt>

                <dd>
                    @TempData["ShortWebSiteURL"]
                </dd>
            </dl>

            <hr />

            <div class="RowTop RowBottom">
                <button class="btn btn-sm btn-danger" type="submit">
                    Verify Delete&nbsp;<i class="fa fa-trash"></i>
                </button>

                <a asp-page="/WebSites/WebSitesIndex"
                   asp-route-userId=@TempData["UserId"]
                   asp-route-profileId=@TempData["ProfileId"]
                   asp-route-profileName=@TempData["ProfileName"]
                   asp-route-webSitesMenuDescription=@TempData["WebSitesMenuDescription"]
                   asp-route-webSitesMenuId=@TempData["WebSitesMenuId"]
                   asp-route-returnUrl=@TempData["ReturnUrl"]
                   class="btn btn-sm btn-primary pull-right">
                    Return&nbsp;<i class="fa fa-hand-point-left"></i>
                </a>
            </div>
        </div>
    </form>
</div>